body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aqua;
}
h1{
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}
.container p{
    text-transform: uppercase;
    font-family: cursive;
}
